
@import "bootstrap/bootstrap";
@import "utils";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}



.big-banner{
.alert-info{
  color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    text-align: center;
    justify-content: center;
    border-radius: 11vw;
   
}

button{
  border-radius: 11vw;
}
  input{
    border-radius: 2em;
    height: 4em;

  }
    background-image: url("src/assets/1241.png");
    /* Set rules to fill background */
    min-height: 100%;
  
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
  
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

  
  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  .alert-info{
    width: 16em;
  }
  input{
    border-radius: 2em;
    width: 25em;
    

  }
  
  }
}