
<div class="movie-info-container" *ngIf="movie" >
  <div class="movie-banner-cover">
    <img src="assets/movies/{{movie.cover}}" alt="movie cover">
  </div>

  <div class='row'>
    <div class="col-md-3"></div>
  <div class="movie-detail-container col-md-9">
    <div class="movie-cover">
      <img src="assets/movies/{{movie.img}}" alt="movie poster">
    </div>
    <div class="movie-detail">
      <h2>{{movie.name}}</h2>
      <div class="short-info">
        <div class="rate"><span>rate: <strong>{{movie.rate}}</strong></span></div>
        <div class="duration"><span>length: <strong>{{movie.length}}</strong></span></div>
        <div class="genres">
          <span>genres:</span>
          <a *ngFor="let genre of movie.genres">
            {{genre}}
          </a>
        </div>
      </div>
      <p class="desc">
        {{movie.description}}
      </p>
      <div class="movierating">
        <a (click)="moviedelete(movie.id)">Delete Movie</a> 
       </div>


      <div class="movierating" *ngIf="currentUser.role==user">
       <a *ngIf="!ratingon"(click)="ratingon=true">Rate movie</a> 
     <span *ngIf="ratingon"> <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false"></ngb-rating></span> 
      </div>
  <br>      
      <div class="movierating"  *ngIf="currentUser.role==user">
        <a *ngIf="!commenton"(click)="commenton=true">Add comment</a> 
 
       </div>

     

      <div class="area-comentarios" *ngIf="commenton">
        <ul>
          <li class="unico-comentario normal">
            <div class="avatar">
              <img alt="" src="http://1.gravatar.com/avatar/72fe3a913b423ea641bf27fb30bba8bd?s=60&amp;d=identicon&amp;r=g" srcset="http://1.gravatar.com/avatar/72fe3a913b423ea641bf27fb30bba8bd?s=120&amp;d=identicon&amp;r=g 2x" class="avatar avatar-60 photo" height="60"
              width="60">
            </div>
            <div class="conteudo">
              <div class="comment-info">
              <b><a href="" rel="nofollow" target="_blank">{{currentUser.firstName}}{{currentUser.lastName}}</a></b> <span class="post-color"> POST</span></div>
              <div class="comment-text">
              <input [(ngModel)]="commentText" name="commentText" type="text" placeholder="Comment" aria-label="Comment">
            </div>
            </div>
          </li>
        
        </ul>
      </div>
    
      
    </div>
  </div>
  </div>  <!---row---->
</div>
