
<div class="movie-info-container" *ngIf="movie" >
  <div class="movie-banner-cover">
    <img src="assets/movies/{{movie.cover}}" alt="movie cover">
  </div>

  <div class='row'>
    <div class="col-md-3"></div>
  <div class="movie-detail-container col-md-9">
    <div class="movie-cover">
      <img src="assets/movies/{{movie.img}}" alt="movie poster">
    </div>
    <div class="movie-detail">
      <h2>{{movie.name}}</h2>
      <div class="short-info">
        <div class="rate"><span>rate: <strong>{{movie.rate}}</strong></span></div>
        <div class="duration"><span>length: <strong>{{movie.length}}</strong></span></div>
        <div class="genres">
          <span>genres:</span>
          <a *ngFor="let genre of movie.genres">
            {{genre}}
          </a>
        </div>
      </div>
      <p class="desc">
        {{movie.description}}
      </p>
      <div class="movierating" *ngIf="currentUser.role=='admin'">
        <a (click)="moviedelete(movie.id)">Delete Movie</a> 
       </div>
       <br>    
       <div class="movierating" *ngIf="currentUser.role=='admin'">
        <a (click)="openModal(addProfileModal)">Add Movie</a> 
       </div>
       <div class="movierating" *ngIf="currentUser.role=='admin'">
        <a (click)="openModal(editProfileModal,movie)">Edit Movie</a> 
       </div>

       <div *ngIf="normalload">
       <div class="movierating" *ngIf="currentUser.role=='user'">
        <a (click)="normalload=false">Comment or Rate</a> 
       </div>
       <br>    
       <div class="movierating" *ngIf="currentUser.role=='user'">
        <a (click)="findnewmovie(movie.id)">Check out a new one....</a> 
       </div>
      </div> 


      <div *ngIf="!normalload">
      <div class="movierating" *ngIf="currentUser.role=='user'">
       <a *ngIf="!ratingon"(click)="ratingon=true">Rate movie</a> 
     <span *ngIf="ratingon"> <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false"></ngb-rating></span> 
      </div>
  <br>      
      <div class="movierating"  *ngIf="currentUser.role=='user'">
        <a *ngIf="!commenton"(click)="commenton=true">Add comment</a> 
 
       </div>

      </div>

      <div class="area-comentarios" *ngIf="commenton">
        <ul>
          <li class="unico-comentario normal">
            <div class="avatar">
              <img alt="" src="http://1.gravatar.com/avatar/72fe3a913b423ea641bf27fb30bba8bd?s=60&amp;d=identicon&amp;r=g" srcset="http://1.gravatar.com/avatar/72fe3a913b423ea641bf27fb30bba8bd?s=120&amp;d=identicon&amp;r=g 2x" class="avatar avatar-60 photo" height="60"
              width="60">
            </div>
            <div class="conteudo">
              <div class="comment-info">
              <b><a href="" rel="nofollow" target="_blank">{{currentUser.firstName}}{{currentUser.lastName}}</a></b> <span class="post-color"> POST</span></div>
              <div class="comment-text">
              <input [(ngModel)]="commentText" name="commentText" type="text" placeholder="Comment" aria-label="Comment">
            </div>
            </div>
          </li>
        
        </ul>
      </div>
    
      
    </div>
  </div>
  </div>  <!---row---->
  <ng-template #addProfileModal let-modal>
    <div class="modal-header">
     <h5 class="modal-title" id="addProfileLabel">Add Profile</h5>
     <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
     </button>
    </div>
    
    <div class="modal-body">
     <form [formGroup]="addProfileForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
       <label for="name" class="col-sm-4 col-form-label">Name</label>
       <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="name" id="name" required>
       </div>
      </div>
      <div class="form-group row">
        <label for="key" class="col-sm-4 col-form-label">Key</label>
        <div class="col-sm-8">
         <input type="text" class="form-control" formControlName="key" id="key" required>
        </div>
       </div>
      <div class="form-group row">
        <label for="id" class="col-sm-4 col-form-label">Id</label>
        <div class="col-sm-8">
         <input type="text" class="form-control" formControlName="id" id="id" required>
        </div>
       </div>
      <div class="form-group row">
       <label for="description" class="col-sm-4 col-form-label">Description</label>
       <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="description" id="description">
       </div>
      </div>
      <div class="form-group row">
       <label for="genres" class="col-sm-4 col-form-label">Genres</label>
       <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="genres" id="genres">
       </div>
      </div>
      <div class="form-group row">
        <label for="rate" class="col-sm-4 col-form-label">Rate</label>
        <div class="col-sm-8">
         <input type="text" class="form-control" formControlName="rate" id="rate">
        </div>
       </div>
       <div class="form-group row">
        <label for="length" class="col-sm-4 col-form-label">Length</label>
        <div class="col-sm-8">
         <input type="text" class="form-control" formControlName="length" id="length">
        </div>
       </div>
       <div class="form-group row">
        <label for="img" class="col-sm-4 col-form-label">Image Url</label>
        <div class="col-sm-8">
         <input type="text" class="form-control" formControlName="img" id="img">
        </div>
       </div>
       <div class="form-group row">
        <label for="cover" class="col-sm-4 col-form-label">Cover Photo</label>
        <div class="col-sm-8">
         <input type="cover" class="form-control" formControlName="cover" id="cover">
        </div>
       </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
       <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
     </form>
    </div>
   </ng-template>

   <ng-template #editProfileModal let-modal>
    <div class="modal-header">
     <h5 class="modal-title" id="editProfileModal">Edit Profile</h5>
     <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
     </button>
    </div>
    
    <div class="modal-body">
     <form [formGroup]="editProfileModal" (ngSubmit)="onSubmitform()">
      <div class="form-group row">
       <label for="name" class="col-sm-4 col-form-label">Name</label>
       <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="name" id="name" required>
       </div>
      </div>
      <div class="form-group row">
        <label for="key" class="col-sm-4 col-form-label">Key</label>
        <div class="col-sm-8">
         <input type="text" class="form-control" formControlName="key" id="key" required>
        </div>
       </div>
      <div class="form-group row">
        <label for="id" class="col-sm-4 col-form-label">Id</label>
        <div class="col-sm-8">
         <input type="text" class="form-control" formControlName="id" id="id" required>
        </div>
       </div>
      <div class="form-group row">
       <label for="description" class="col-sm-4 col-form-label">Description</label>
       <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="description" id="description">
       </div>
      </div>
      <div class="form-group row">
       <label for="genres" class="col-sm-4 col-form-label">Genres</label>
       <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="genres" id="genres">
       </div>
      </div>
      <div class="form-group row">
        <label for="rate" class="col-sm-4 col-form-label">Rate</label>
        <div class="col-sm-8">
         <input type="text" class="form-control" formControlName="rate" id="rate">
        </div>
       </div>
       <div class="form-group row">
        <label for="length" class="col-sm-4 col-form-label">Length</label>
        <div class="col-sm-8">
         <input type="text" class="form-control" formControlName="length" id="length">
        </div>
       </div>
       <div class="form-group row">
        <label for="img" class="col-sm-4 col-form-label">Image Url</label>
        <div class="col-sm-8">
         <input type="text" class="form-control" formControlName="img" id="img">
        </div>
       </div>
       <div class="form-group row">
        <label for="cover" class="col-sm-4 col-form-label">Cover Photo</label>
        <div class="col-sm-8">
         <input type="cover" class="form-control" formControlName="cover" id="cover">
        </div>
       </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
       <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
     </form>
    </div>
   </ng-template>

   
  <div class="overlay-ribbon" *ngIf="showribbon">
    <div class="ribbon-content">
      <span id="close" class="close-x"><a href="javascript:void(0)" (click)="showribbon=false">x</a></span>
      <div class="img-container"><img src="https://pixabay.com/static/uploads/photo/2015/10/31/21/02/cop-1016218_960_720.jpg" width="171" height="135" alt="" /></div>
      <h3>Hey! {{currentUser.firstName}}</h3>
      <p>Here is a new movie check it out!</p>
    </div>
  </div>


</div>
