
<div class="movie-info-container" *ngIf="movie" >
  <div class="movie-banner-cover">
    <img src="assets/movies/{{movie.cover}}" alt="movie cover">
  </div>

  <div class='row'>
    <div class="col-md-3"></div>
  <div class="movie-detail-container col-md-9">
    <div class="movie-cover">
      <img src="assets/movies/{{movie.img}}" alt="movie poster">
    </div>
    <div class="movie-detail">
      <h2>{{movie.name}}</h2>
      <div class="short-info">
        <div class="rate"><span>rate: <strong>{{movie.rate}}</strong></span></div>
        <div class="duration"><span>length: <strong>{{movie.length}}</strong></span></div>
        <div class="genres">
          <span>genres:</span>
          <a *ngFor="let genre of movie.genres">
            {{genre}}
          </a>
        </div>
      </div>
      <p class="desc">
        {{movie.description}}
      </p>
    </div>
  </div>
  </div>  <!---row---->
</div>
