$pink: #FF0571;
$grey: #f3f3f3;
$blue: #182B54;
$lightBlue: #00B5E9;
$light: #ffffff;
$dark: #000000;
$yellow: #FFB11A;


$primary-color: $blue;
$primary-color-dark: darken($primary-color, 8);
$primary-color-light: lighten($primary-color, 10);
$secondary-color: $pink;

$primary-link: $blue;
$secondary-link: $lightBlue;

$primary-title: $light;
$secondary-title: $yellow;

.movie-info-container{
  width: 100%;



  .overlay-ribbon {
    position: absolute;
    width: 13em;
    height: 14em;
    z-index: 9999;
    top: 0;
    right: 2%;
    background: $blue;
    padding: 5px 0;
    /* IE10 Consumer Preview */
    
    background-image: -ms-radial-gradient(center top, circle farthest-side, #cbf3f0 0%, $blue 100%);
    /* Mozilla Firefox */
    
    background-image: -moz-radial-gradient(center top, circle farthest-side, #cbf3f0 0%, $blue 100%);
    /* Opera */
    
    background-image: -o-radial-gradient(center top, circle farthest-side, #cbf3f0 0%, $blue 100%);
    /* Webkit (Safari/Chrome 10) */
    
    background-image: -webkit-gradient(radial, center top, 0, center top, 487, color-stop(0, #cbf3f0), color-stop(1, $blue));
    /* Webkit (Chrome 11+) */
    
    background-image: -webkit-radial-gradient(center top, circle farthest-side, #cbf3f0 0%, $blue 100%);
    /* W3C Markup, IE10 Release Preview */
    
    background-image: radial-gradient(circle farthest-side at center top, #cbf3f0 0%, $blue 100%);
    -webkit-box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
    box-shadow: -5px 21px 28px -4px rgba(0, 0, 0, 0.43);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    
    animation: slidein 3s ease-in-out forwards;
  }
  
  .ribbon-content {
    z-index: 99999;
    position: relative;
    margin: 0 5px;
  }
  
  .ribbon-content h3 {
    margin: 0;
    padding: 5px 0 5px 0;
    line-height: 16px;
    font-family: 'Hammersmith One', sans-serif;
    color: white;
    text-align: center;
  }
  
  .ribbon-content > p,
  .ribbon-content > p span {
    color: white;
    margin: 0;
    padding: 0;
  }
  
  .ribbon-content p span {
    display: block;
  }
  
  .close-x {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 99;
  }
  
  .close-x a:link,
  .close-x a:visited {
    background: $blue;
    color: #fff;
    padding: 0 4px;
    font-weight: normal;
    text-decoration: none;
  }
  
  .close-x a:hover {
    background: #ff9f1c;
  }
  
  .overlay-ribbon:before {
    content: "";
    position: absolute;
    bottom: -9em;
    left: 0;
    width: 0;
    height: 0;
    border-top: 10em solid $blue;
    border-right: 10em solid transparent;
    z-index: 997;
  }
  
  .overlay-ribbon:after {
    content: "";
    position: absolute;
    bottom: -9em;
    right: 0;
    width: 0;
    height: 0;
    border-top: 10em solid $blue;
    border-left: 10em solid transparent;
    z-index: 998;
  }
  
  .slideout {
    animation: slideout 1s ease-in-out forwards;
  }
  
  @-webkit-keyframes slidein {
    from {
      transform: translate(0, -400px);
    }
    to {
      transform: translate(0, 100px);
    }
  }
  
  @-o-keyframes slidein {
    from {
      transform: translate(0, -400px);
    }
    to {
      transform: translate(0, 100px);
    }
  }
  
  @-moz-keyframes slidein {
    from {
      transform: translate(0, -400px);
    }
    to {
      transform: translate(0, 100px);
    }
  }
  
  @keyframes slidein {
    from {
      transform: translate(0, -400px);
    }
    to {
      transform: translate(0, 100px);
    }
  }
  
  @-webkit-keyframes slideout {
    from {
      transform: translate(0, 100px);
    }
    to {
      transform: translate(0, -400px);
    }
  }
  
  @-o-keyframes slideout {
    from {
      transform: translate(0, 100px);
    }
    to {
      transform: translate(0, -400px);
    }
  }
  
  @-moz-keyframes slideout {
    from {
      transform: translate(0, 100px);
    }
    to {
      transform: translate(0, -400px);
    }
  }
  
  @keyframes slideout {
    from {
      transform: translate(0, 100px);
    }
    to {
      transform: translate(0, -400px);
    }
  }
}

.movie-banner-cover{
  position: relative;
  max-height: 25em;
  overflow: hidden;

  img{
    width: 100%;
  }

  &:after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(4,6,13,0) 15%, rgba(24,43,84,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(4,6,13,0) 15%,rgba(24,43,84,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(4,6,13,0) 15%,rgba(24,43,84,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#182b54',GradientType=0 ); /* IE6-9 */
  }
}

.movie-detail-container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 2em;
  transform: translateY(-9em);
}

.movie-detail{
  padding: 0 1em;
  color: darken($light, 35);

  h2{
    color: #ffffff;
    margin-top: 0;
    padding-bottom: 2vw;
    align-items: center;
    padding-left: 8em
  }
  ngb-rating {
    font-size: 3vw;
    color: #897980;
    border-color: white;
  }
  .short-info{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    text-transform: capitalize;
    padding-bottom: 2vw;
    

    div {
      margin-right: 1em;
    }

    strong{
      color:$pink;
    }
  }

  .short-info-icons{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    text-transform: capitalize;
    padding-bottom: 2vw;
     padding-left: 10vw;
	
a{
  color:#3f5c80;
}
    div {
      margin-right: 1em;
    }

    strong{
      color:$pink;
    }
  }



  .movierating{

    align-items:center;
    padding-left:12vw;
    a{
      margin-left: 0.5em;
    background-color: #212529;
    color: #ffffff;
    padding: 0.4em;
    border-radius: 5px;
    text-decoration: none;
    }
  }
  .genres{
    a{
      margin-left: 0.5em;
      background-color: #897980;
      color: $primary-title;
      padding: 0.4em;
      border-radius: 5px;
      text-decoration: none;
    }
  }

  .desc{
    max-width: 70%;
    line-height: 1.8;
  }
}

@media only screen and (max-width : 48em) {


  .movie-detail .short-info-icons{

     padding-left: 1vw;
  }
  .movie-detail-container{
    flex-direction: column-reverse;
    transform: translateY(0);
    padding: 0 0.5em;

    .movie-cover{
      padding: 0 1em;
      transform: translateY(-46em);
    }
    .short-info{
      flex-direction: column;
     
      div {
        margin-right: 0;
        margin-bottom: 1em;
      }
    }
    .genres{
      span{
        display: block;
        margin-bottom: 1em;
      }
    }
    .desc{
      max-width: 100%;
    }
    .area-comentarios{
         .normal .conteudo {
      max-width:60%
    }
    }    
 
  }

  .movie-info-container .overlay-ribbon{
    top: 12em;
    width: 10em;

    .ribbon-content{
      .img-container{
        img{
          width:9.3em;
        }
         
      }
    }
  }

  .movie-detail-container{
    ngb-rating {
      font-size: 3em;
    }

    h2{
      color: #ffffff;
      margin-top: 29vw;
      padding-bottom: 2vw;
      -webkit-box-align: center;
      align-items: center;
      padding-left: 10em;
    }
  } 
}



.area-comentarios{
  input{
    touch-action: manipulation;
    border-radius: 5vw;
    width: 19em;
    height: 3em;
    width: 100%;
    border: 0;
    background-color: #212529;
    color: white;
  }
  
  .post-color{
    color: white;
    float: right;
    padding-right: 2vw;
    padding-bottom:1vw;
  }
  
  .area-comentarios ul{
    list-style: none;
  }
  
  .area-comentarios ul{
    display: block;
    overflow: hidden;
    position: relative;
    width: 90%;
    margin: auto;
    padding: 2% 3%;
  }
  
  .unico-comentario{
    display: block;
    clear: both;
  }
  
  .unico-comentario .conteudo{
    display: block;
    width: 100%;
    padding: 0.5%;
  }
  
  .unico-comentario .conteudo p{
    margin: 0;
  }
  
  .normal .conteudo, .children .conteudo{
    max-width: 40%;
    word-wrap: break-word;
    margin-bottom: 20px;
    position: relative;
    padding: 10px 20px;
    color: white;
    border-radius: 25px;
    clear:both;
    font: 100 13px 'Open Sans', sans-serif;
  }
  
  .children .conteudo{
    background: #00BCD4; /*cor do balão 1*/
    color: white; /*cor da fonte do balão 1*/
    float: right;
    clear: none;
    border-bottom-right-radius: 20px 0px\9;
  }
  .children .conteudo a{
    color: #006064; /* dor do link do balão 1 */
    text-decoration: none;
    cursor: pointer;
  }
  .children .conteudo:before{
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -2px;
    right: -8px;
    height: 19px;
     border-right: 20px solid #00BCD4; /*cor do balão 1*/
    border-bottom-left-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px);
    border-bottom-left-radius: 15px 0px\9;
    transform: translate(-1px, -2px)\9;
  }
  .children .conteudo:after{
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -2px;
    right: -42px;
    width: 12px;
    height: 20px;
    background: white; /*cor de fundo*/
    border-bottom-left-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
    transform: translate(-30px, -2px);
  }
  
  .normal .conteudo{
    background: #212529;
    color: #212529;
    float: left;
    clear:none;
    border-bottom-left-radius: 30px 0px\9;
  }
  .normal .conteudo a{
    color: #D81B60;
    text-decoration: none;
    cursor: pointer;
    max-width:60%
  }

  .normal .conteudo p{
    color: white;
  }
  .normal .conteudo:before{
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 19px;
    border-left: 20px solid #212529; /*cor do balão 2*/
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px);
    border-bottom-right-radius: 15px 0px\9;
    transform: translate(-1px, -2px)\9;
  }
  .normal .conteudo:after{
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white; /*cor de fundo*/
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
    transform: translate(-30px, -2px);
  }
  
  .avatar img{
    border-radius: 50%;
    border: 1px solid white;
    padding: 2px;
    background: white;
    
  }
  
  .normal .avatar{
    float: left;
    margin-right: 10px;
    padding-top: 0.2vw;
  }
  
  .children .avatar{
    float:right;
    margin-left: 10px;
  }
  
  .children .author{
    background: #FFCCBC !important;
  }
   .children .author:before{
    border-right: 20px solid #FFCCBC !important;
  }
  
  .normal .author{
    background: #FFCCBC !important;
  }
  .normal .author:before{
    border-left: 20px solid #FFCCBC !important;
  }
  
  /* Início - Estrutura */
    html {
      background: lightgray;
    }
    body {
      background: white;
      width: 50%;
      margin: 20px auto;
      border-radius: 5px;
      padding: 10px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
    }
    .dummy {
      width: 100%;
      height: 10px;
    }
  
    /* Início - Footer */
      h4.one {
        margin-top: 0;
      }
      h4 {
        position: relative;
        margin-bottom: 20px; }
      h4 {
          display: block;
          clear: both;
          margin: 5px 0px 0px 0px;
          color: rgb(153, 153, 153);
          font-size: 13px;
          text-transform: uppercase;
          letter-spacing: 2px;
          text-align: center;
      }
      h4 {
        padding-left: 4%;
        padding-right: 4%;
      }
      h4.one:before {
          content: "";
          display: block;
          border-top: solid 1px rgb(229, 229, 229);
          width: 91%;
          height: 1px;
          position: absolute;
          top: 40%;
      }
      h4.one span {
          background: rgb(255, 255, 255);
          padding: 0 15px;
          position: relative;
      }
    /* Fim - Footer */
  
    .assinatura{
      width: 150px;
      right: 0;
      bottom: 0;
      position: absolute;
      margin: 10px;
    }
  /* Fim - Estrutura */
}

