 


  


  <div class="wrapper overflow_class">
    <div class="main-panel">
      <div class="content">
        
            <div class="search-bar">
              
                <input [(ngModel)]="searchText" name="searchText" type="search" placeholder="Search" aria-label="Search">
                
              </div>
        <div class="row">
				  <div class="col-md-3" >
                   
					<div class="card-movies" *ngIf="showgenre">
                        
           
                        
          <div>
            <div *ngFor="let genre of genres | enumToArray" class="card-header">
                        
							<h5
							[ngClass]="{'active': genre.toLowerCase() == selectedGenre}"
							(click)="changeFilter($event)">
							{{genre}}
						  </h5>
					  </div>

          </div>
			

					</div>
				  </div>

           
          

            <!----modules-->
			    <div class="col-md-8">
            <div class="movies-list-header">
              <h2  (click)="changegenre()"><strong>Select Genre</strong></h2>
              <div class="sort">
                SORT BY:
                <select [(ngModel)]="sortBy">
                  <option value="rate">Rate</option>
                  <option value="id">Latest</option>
                </select>
              </div>
            </div>
          
            <div *ngIf="!visibleMovies" class= "scroll-container">
              <section>

                <h2>All Movies</h2>
                <hr>
                <div class="cards-wrapper">
                  <div *ngFor="let movie of movies | filter: searchText | sort: sortBy ">
                    <div [routerLink]="[movie.id + '/' + movie.key]" class="card">
                      <figure>
                        <img src="assets/movies/{{movie.img}}" alt="movie poster">
                      </figure>
                      <span class="title">{{movie.name}}</span>
                              <div class="rate" >
                                
                                <a><img src="assets/icons/star.svg" alt="movie poster">{{movie.rate}}</a>

                      
                              </div>
                    </div>
                   
            
                  </div>
                </div>
                <h2>Popular</h2>
                <hr>
                <div class="cards-wrapper">
                  <div *ngFor="let movie of movies | filter: searchText | sort: sortBy ">
                    <div [routerLink]="[movie.id + '/' + movie.key]" class="card" *ngIf="movie.rate>7.0">
                      <figure>
                        <img src="assets/movies/{{movie.img}}" alt="movie poster">
                      </figure>
                      <span class="title">{{movie.name}}</span>
                      <div class="rate" >
                        
                        <a><img src="assets/icons/star.svg" alt="movie poster">{{movie.rate}}</a>

              
                      </div>
                    </div>
                   
            
                  </div>
                </div>

                <h2>Trending</h2>
                <hr>
                <div class="cards-wrapper">
                  <div *ngFor="let movie of movies | filter: searchText | sort: sortBy ">
                    <div [routerLink]="[movie.id + '/' + movie.key]" class="card" *ngIf="movie.id>15">
                      <figure>
                        <img src="assets/movies/{{movie.img}}" alt="movie poster">
                      </figure>
                      <span class="title">{{movie.name}}</span>
                      <div class="rate" >
                        
                        <a><img src="assets/icons/star.svg" alt="movie poster">{{movie.rate}}</a>

              
                      </div>
                    </div>
                   
            
                  </div>
                </div>


                <h2>Recommended</h2>
                <hr>
                <div class="cards-wrapper">
                  <div [routerLink]="[movie.id + '/' + movie.key]" *ngFor="let movie of movies | filter: searchText | sort: sortBy" class="card">
                    <figure>
                      <img src="assets/movies/{{movie.img}}" alt="movie poster">
                    </figure>
                    <span class="title">{{movie.name}}</span>
                    <div class="rate" >
                      
                      <a><img src="assets/icons/star.svg" alt="movie poster">{{movie.rate}}</a>

            
                    </div>
                  </div>
                </div>
              </section>
           </div>

                    <div *ngIf="visibleMovies" class="movies-container">
                        <div class="movies-list">
                          <div *ngFor="let movie of visibleMovies | filter: searchText | sort: sortBy" class="movie">
                            <a [routerLink]="[movie.id + '/' + movie.key]">
                              <figure>
                                <img src="assets/movies/{{movie.img}}" alt="movie poster">
                              </figure>
                              <span class="title">{{movie.name}}</span>
                              <div class="rate" >
                                
                                <a><img src="assets/icons/star.svg" alt="movie poster">{{movie.rate}}</a>

                      
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
               </div>
              <!----modules-->



       
          


        </div>
      </div>
    </div>
    
  </div>

