 


  


  <div class="wrapper overflow_class">
    <div class="main-panel">
      <div class="content">
        
            <div class="search-bar">
              
                <input [(ngModel)]="searchText" name="searchText" type="search" placeholder="Search" aria-label="Search">
                
              </div>
        <div class="row">
				  <div class="col-md-3" >
                   
					<div class="card-movies" *ngIf="showgenre">
                        
           
                        
          <div>
            <div *ngFor="let genre of genres | enumToArray" class="card-header">
                        
							<h5
							[ngClass]="{'active': genre.toLowerCase() == selectedGenre}"
							(click)="changeFilter($event)">
							{{genre}}
						  </h5>
					  </div>

          </div>
			

					</div>
				  </div>

           
          

            <!----modules-->
			    <div class="col-md-8">
            <div class="movies-list-header">
              <h2 *ngIf="!visibleMovies"  (click)="changegenre()"><strong>Select Genre</strong></h2>
              <h2 *ngIf="visibleMovies"  (click)="changegenre()"><strong>Back to Home</strong></h2>
              <div class="sort" *ngIf="visibleMovies || searchText">
                SORT BY:
                <select [(ngModel)]="sortBy">
                  <option value="rate">Rate</option>
                  <option value="id">Latest</option>
                </select>
              </div>
            </div>
          
            <div *ngIf="!visibleMovies && !searchText" class= "scroll-container">
              <section>

     



                
                <h2 *ngIf="showcarouseltrending">Trending</h2>
                <hr *ngIf="showcarouseltrending">
                <ngu-carousel *ngIf="showcarouseltrending" #myCarousel class="myCarousel" [inputs]="carouselTileConfig" [dataSource]="moviestrending">
                  <ngu-tile *nguCarouselDef="let movie ; index as i;">
                    <div [routerLink]="[movie.id + '/' + movie.key]" class="card" >
                      <figure>
                        <img src="assets/movies/{{movie.img}}" alt="movie poster">
                      </figure>
                                           <div class="title" >
                                
                        <div [routerLink]="[movie.id + '/' + movie.key]" > {{movie.name}}</div>
  
              
                      </div>
                      <div class="rate" >
                        
                        <a><img src="assets/icons/star.svg" alt="movie poster">{{movie.rate}}</a>
  
              
                      </div>
                    </div>
                  </ngu-tile>
                
                  <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5 : 1">
                    &lt;
                  </button>
                  <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5 : 1">
                    &gt;
                  </button>
                
                
                </ngu-carousel>
              
                
                <h2 *ngIf="showcarouselpopular">Popular</h2>
                <hr *ngIf="showcarouselpopular">
                <ngu-carousel *ngIf="showcarouselpopular" #myCarousel class="myCarousel" [inputs]="carouselTileConfig" [dataSource]="moviespopular">
                  <ngu-tile *nguCarouselDef="let movie ; index as i;">
                    <div [routerLink]="[movie.id + '/' + movie.key]" class="card" >
                      <figure>
                        <img src="assets/movies/{{movie.img}}" alt="movie poster">
                      </figure>
                     <div class="title" >
                                
                        <div [routerLink]="[movie.id + '/' + movie.key]" > {{movie.name}}</div>

              
                      </div>
                      <div class="rate" >
                        
                        <a><img src="assets/icons/star.svg" alt="movie poster">{{movie.rate}}</a>

              
                      </div>
                    </div>
                  </ngu-tile>
                
                  <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5 : 1">
                    &lt;
                  </button>
                  <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5 : 1">
                    &gt;
                  </button>
                
                
                </ngu-carousel>




              <h2>All Movies <span class="more" (click)="showall=true">More</span></h2>
              <hr>
              <ngu-carousel *ngIf="showcarousel" #myCarousel class="myCarousel" [inputs]="carouselTileConfig" [dataSource]="movies">
                <ngu-tile *nguCarouselDef="let movie ; index as i;">
                  <div [routerLink]="[movie.id + '/' + movie.key]" class="card" >
                    <figure>
                      <img src="assets/movies/{{movie.img}}" alt="movie poster">
                    </figure>
                                         <div class="title" >
                              
                      <div [routerLink]="[movie.id + '/' + movie.key]" > {{movie.name}}</div>

            
                    </div>
                    <div class="rate" >
                      
                      <a><img src="assets/icons/star.svg" alt="movie poster">{{movie.rate}}</a>

            
                    </div>
                  </div>
                </ngu-tile>
              
                <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5 : 1">
                  &lt;
                </button>
                <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5 : 1">
                  &gt;
                </button>
              
              
              </ngu-carousel>

                  <div *ngFor="let movie of movies | filter: searchText | sort: sortBy ">
                    
            
                  </div>
               

                
               
                  <div *ngFor="let movie of movies | filter: searchText | sort: sortBy ">
                   
                  </div>
              


              
                
                  <div *ngFor="let movie of movies | filter: searchText | sort: sortBy">
                   
                  </div>
                
              </section>
           </div>

           <div *ngIf="(searchText && !visibleMovies) || (showall)" class="movies-container">
            <div class="movies-list">
              <div *ngFor="let movie of movies | filter: searchText | sort: sortBy"  [routerLink]="[movie.id + '/' + movie.key]"  class="movie">
                <a >
                  <figure>
                    <img src="assets/movies/{{movie.img}}" alt="movie poster">
                  </figure>
                  <div class="title" >
                    
                    <a> {{movie.name}}</a>

          
                  </div>
                  <div class="title" >
                    
                    <a><img src="assets/icons/star.svg" alt="movie poster">{{movie.rate}}</a>

          
                  </div>
                </a>
              </div>
            </div>
          </div>
                    <div *ngIf="!searchText && visibleMovies" class="movies-container">
                        <div class="movies-list">
                          <div *ngFor="let movie of visibleMovies | filter: searchText | sort: sortBy"  [routerLink]="[movie.id + '/' + movie.key]"  class="movie">
                            <a >
                              <figure>
                                <img src="assets/movies/{{movie.img}}" alt="movie poster">
                              </figure>
                              <div class="title" >
                                
                                <a> {{movie.name}}</a>
        
                      
                              </div>
                              <div class="title" >
                                
                                <a><img src="assets/icons/star.svg" alt="movie poster">{{movie.rate}}</a>

                      
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
               </div>
              <!----modules-->



       
          


        </div>
      </div>
    </div>
    
  </div>

