$pink: #FF0571;
$grey: #f3f3f3;
$blue: #182B54;
$lightBlue: #00B5E9;
$light: #ffffff;
$dark: #000000;
$yellow: #FFB11A;


$primary-color: $blue;
$primary-color-dark: darken($primary-color, 8);
$primary-color-light: lighten($primary-color, 10);
$secondary-color: $pink;

$primary-link: $blue;
$secondary-link: $lightBlue;

$primary-title: $light;
$secondary-title: $yellow;


:host{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.search-bar{

    width: 61vw;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-top: 5vw;
    margin-left: 25vw;
    border-radius: 10vw;

  input{
    display: block;
    width: 100%;
    border: 1px solid #132344;
    border: none;
    outline: none;
    font-size: 1em;
    padding-left: 4em;
    /* margin: 0.5em; */
    /* margin-right: -76.2em; */
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    &::-webkit-input-placeholder {
      color: $primary-color-light;
    }

    &:-ms-input-placeholder {
      color: $primary-color-light;
    }

    &::placeholder {
      color: $primary-color-light;
    }

    &:focus{
      outline: none !important;
      border:1px solid $primary-color-light;
    }
  }

  img{
    position: absolute;
    top: 3.5em;
    left: 1em;
    width: 2em;
  }
}

.main-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.card-movies{
        position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-left: 17vw;
}

.genres-list{
    width: 200px;
    height: 100vh;
    background-color: #96999f;
    color: #233f7c;
    margin-left: 3.8em;

  hr{
    border: none;
    height: 1px;
    background: #1f3056; /* Old browsers */
    background: -moz-linear-gradient(left,  #1f3056 0%, #28416d 50%, #1f3056 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #1f3056 0%,#28416d 50%,#1f3056 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #1f3056 0%,#28416d 50%,#1f3056 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f3056', endColorstr='#1f3056',GradientType=1 ); /* IE6-9 */
  }

  .title{
    color: $primary-title;
    text-transform: uppercase;
  }

  .genre-list-items{
    padding: 0;
    list-style-type: none;

    li{
      margin-bottom: 0.8em;
    }

    a{
      text-decoration: none;
      color: $primary-color-light;

      &:hover,
      &.active{
        color: $secondary-link;
      }
    }
  }
}






.movies-list-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  padding-top: 2.5em;
  padding-bottom: 2em;
  padding-right: 7em;

  .count{
    color: $secondary-title;
  }

  .sort{
    color: $primary-title;
    padding-right: 1em;
    font-size: 0.8em;
  }
  .sort-search{
      color: #ffffff;
  padding-right: 1em;
  font-size: 0.8em;
  background-color: #294990;
  border: none;
  /* color: #ffffff; */
  height: 2.5em;
  /* width: 9em; */
  font-size: 1.2em;
  /* margin-left: 1em; */
  padding-top: 0.5vw;
  border-radius: 2vw;
    }

    .sort-search input{
      background: hidden;
      display: block;
      width: 100%;
      border: 1px solid darken($primary-color, 4);
      color: $primary-title;
      padding: -0.5em;
      margin-top: 11vw;
      border: none;
      /* outline: none; */
      /* font-size: 1em; */
      padding-left: 3em;
      margin-top: -1.3em;
      margin-left: 0.5em;
      border-radius: 2em;
    }
  .searchicon{
      width: 2.5vw;
      margin-left: 2vw;
  }

  select{
    background-color: lighten($primary-color, 15);
    border: none;
    color: $primary-title;
    height: 2.5em;
    width: 9em;
    font-size: 1.2em;
    margin-left: 1em;
  }
}

.movies-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-height: 100vh;




  hr{
    width: 100%;
    border-color: $primary-color-light;
    opacity: 0.6;
  }

  .movies-list{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
  }

  .movie{
    margin-bottom: 1.8em;
    flex-basis: 20%;
    background-color:black;
    color:white;
align-items:center;
    a{
      color: white;
      align-items:center;
    }
    figure{
      padding: 0;
      margin: 0;
      img{
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
      }
    }
    .title,
    .rate{
      img{
        width:1em;
        height:1em;

      }
      display: block;
    }
    
    .title{
      position: relative;
      /* padding: 7px; */
      text-align: center;
      /* background: #e7e7e7; */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      color:white;
    
    }
    .rate{
      color: white;
      padding-bottom: 1.5em;
    }
  }
}


@media only screen and (max-width : 48em) {

  .myCarousel{
  
    .card{
     
    }
  }

  .movies-container .movies-list-header{
  padding-right:0em;

 
}

.movies-list-header{
  select{
    margin-left:6em;
  }

  h2 strong{
    width:max-content;
  }
}
    .card-movies{
        margin-left: 3vw;
        margin-right: 4vw;
    }
    .search-bar{
        margin-top: 22vw;
    margin-left: 5vw;
    width: 91vw;
    }
  .main-container{
    flex-direction: column;

    .genres-list{
      width: 100%;
      height: auto;
      padding: 0.8em;
      margin-left: 0;
    }
    .genre-list-items{
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      overflow-x: scroll;
      overflow-y: hidden;
      margin: 0;

      li{
        margin-right: 1em;
      }
    }

    .movies-container{
      width: 100%;

      .movie{
        flex-basis: 50%!important;
        justify-content: space-between;
        background-color:black;
        color:white;
      }
      figure{
        img{
          max-width: 8em;
        }
      }
    }
  }
}




.scroll-container{
  -webkit-scrollbar { 
    display: none; 
} 

 
  .cards-wrapper ::-webkit-scrollbar { 
    display: none; 
} 
  .cards-wrapper {
    grid-column: center-start / -1;
    overflow: auto;
    
    display: flex;
    padding-bottom: 1em;

   

    .card {
      background-color: #272e2e;
      color: #15928A;
      height: 20em;
      min-width: 13em;
      margin-right: 1em;
      display: flex;
      align-items: center;
      justify-content: center;
   
      .title,
      .rate{
        img{
          width:1em;
          height:1em;

        }
        display: block;
      }
      
      .title{
        color: white;
      
      }
      .rate{
        color: white;
        padding-bottom: 1.5em;
      }
      
      
      p {
        font-size: 1.5em;
      }
      
    }
    
    &::after {
      content: "";
      display: block;
      min-width: var(--page-margin);
    }
  }
  
}

::-webkit-scrollbar {
  display: none;
}


.myCarousel{

  .card{
    margin-bottom: 1.8em;
    flex-basis: 20%;
  background-color:black;
  color:white;
align-items:center;


    a{
      color:white;
      align-items:center;
    }
    figure{
      padding: 0;
      margin: 0;
      img{
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        width: 100%;
      }
    }
    .title,
    .rate{
      img{
        width:1em;
        height:1em;

      }
      display: block;
    }
    
    .title{
      position: relative;
      /* padding: 7px; */
      text-align: center;
      /* background: #e7e7e7; */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      color:white;
    
    }
    .rate{
      color:white;
      padding-bottom: 1.5em;
    }
  }
  .bannerStyle div {
    background-color: #ccc;
    background-size: cover !important;
    height: 100%;
  }
  
  .bannerStyle img {
    width: 100%;
    height: 100%;
  }
  
  .bannerStyle h1 {
    text-align: center;
    background: rgba(0, 0, 0, 0.32);
    color: white;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tile {
    min-height: 200px;
    background-color: #ccc;
    background-size: cover !important;
  }
  
  .tile h1 {
    text-align: center;
    line-height: 200px;
    background: rgba(0, 0, 0, 0.32);
    color: white;
    margin: 0;
  }
  
  h4 {
    margin: 0;
    padding: 10px 15px;
    text-align: center;
  }
  
  p {
    margin: 0;
    padding: 0 15px 10px;
    text-align: center;
  }
  
  .wBg {
    background: white;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  nav {
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    top: 0;
    background: white;
    z-index: 12;
  }
  
  nav h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
  }
  
  .carBtn {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 2.5em;
    height: 2.5em;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
    border-radius: 999px;
  }
  
  .leftRs {
    position: absolute;
    margin: auto;
    top: -3em;
    bottom: 0;
    width: 2.5em;
    height: 2.5em;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
    border-radius: 999px;
    left: 0;
  }
  
  .rightRs {
    position: absolute;
    margin: auto;
    top: -3em;
    bottom: 0;
    width: 2.5em;
    height: 2.5em;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
    border-radius: 999px;
    right: 0;
  }
  
  .leftRs1 {
    position: absolute;
    margin: auto;
    top: -3em;
    bottom: 0;
    width: 2.5em;
    height: 2.5em;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
    border-radius: 999px;
    right: 0;
  }
  
  .rightRs1 {
    position: absolute;
    margin: auto;
    top: -3em;
    bottom: 0;
    width: 2.5em;
    height: 2.5em;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
    border-radius: 999px;
    left: 0;
  }
  
  .myPoint {
    list-style-type: none;
    text-align: center;
    padding: 12px;
    margin: 0;
    white-space: nowrap;
    overflow: auto;
    box-sizing: border-box;
    li {
      display: inline-block;
      border-radius: 50%;
      border: 2px solid rgba(0, 0, 0, 0.55);
      padding: 4px;
      margin: 0 3px;
      transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
      transition: 0.4s;
      &.active {
        background: #6b6b6b;
        transform: scale(1.2);
      }
    }
  }
  
  .carouselHoved {
    opacity: 0.4;
  }
  
  .myBannerPoint {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0;
    color: beige;
    justify-content: center;
    list-style-type: none;
    background: rgba(0, 0, 0, 0.34);
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    li {
      background: #6b6b6b;
      width: 50px;
      height: 50px;
      margin-right: 10px;
      &.active {
        transform: translateY(-10px);
        transition: 0.3s ease all;
      }
    }
  }
  
}